<p class="versioning">
  <small>
    <span>{{ site.title }} v{{ build.pkgVersion }}</span>
    <span>Metalsmith version: {{ build.msVersion }}</span>
    <span>Node version: {{ build.nodeVersion }}</span>
  </small>
</p>
<p class="copyright">
  © {{ build.date.getFullYear() }} {{ site.htmlMeta.author }} - Built with <a href="{{ site.generatorurl }}">{{ site.generator }}</a>
</p>